[submodule "TrayTime/Submodules/cldr"]
	path = TrayTime/Submodules/cldr
	url = https://github.com/unicode-org/cldr.git
[submodule "TrayTime/Submodules/city-timezones"]
	path = TrayTime/Submodules/city-timezones
	url = https://github.com/kevinroberts/city-timezones.git
